<section class="productCheckoutHolder">
    <div class="step-navs">
      <ul>
        <li>
          <a href="{{ routes.cart_url }}" class="nav-link active">
            <span>1</span>
            <p>Shopping Cart</p>
          </a>
        </li>
        <li>
          <a href="/checkout" class="nav-link">
            <span>2</span>
            <p>Checkout</p>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            <span>3</span>
            <p>Oder Status</p>
          </a>
        </li>
      </ul>
    </div>
    {% comment %} <div class="container">
      <div class="productCheckoutSec">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="shopping-cart">
              <div class="product-details">
                <div>
                  <div class="table-container">
                    <table cellspacing="0" class="border-bottom">
                      <thead>
                        <tr>
                          <th colspan="2">Product</th>
                          <th>Price</th>
                          <th>SKU</th>
                          <th>Quantity</th>
                          <th colspan="2">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="product-thumbnail">
                              <a href="#">
                                <img width="80" height="auto"
                                  src="./theme/images/aquacolor-misty-gray-candypack-zero-power-dailies_misty_gray_kiara_01_09_2023-300x300.jpg"
                                  alt="">
                              </a>
                            </div>
                          </td>
                          <td>
                            <div class="cart-item-details">
                              <div class="cart-item-title">
                                <a href="#" class="screen-reader-text">Aquacolor Premium Flirty Blue Zero Po quantity</a>
                              </div>
                              <div class="product-remove">
                                <a href="#" class="remove-item text-decoration-underline">Remove</a>
                              </div>
                            </div>
                          </td>
                          <td>
                            <span class="price-amount">$549.00</span>
                          </td>
                          <td class="product-sku">
                          </td>
                          <td>
                            <div class="product-quantity">
                              <span class="minus-et-icon" onclick="changeQuantity(-1)">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em"
                                  viewBox="0 0 24 24">
                                  <path
                                    d="M23.52 11.4h-23.040c-0.264 0-0.48 0.216-0.48 0.48v0.24c0 0.264 0.216 0.48 0.48 0.48h23.040c0.264 0 0.48-0.216 0.48-0.48v-0.24c0-0.264-0.216-0.48-0.48-0.48z">
                                  </path>
                                </svg>
                              </span>
                              <input type="number" id="quantity" value="2" aria-label="Product quantity" size="4" min="0"
                                max="" step="1" inputmode="numeric" autocomplete="off">
                              <span class="plus-et-icon" onclick="changeQuantity(1)">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em"
                                  viewBox="0 0 24 24">
                                  <path
                                    d="M23.52 11.4h-10.92v-10.92c0-0.264-0.216-0.48-0.48-0.48h-0.24c-0.264 0-0.48 0.216-0.48 0.48v10.92h-10.92c-0.264 0-0.48 0.216-0.48 0.48v0.24c0 0.264 0.216 0.48 0.48 0.48h10.92v10.92c0 0.264 0.216 0.48 0.48 0.48h0.24c0.264 0 0.48-0.216 0.48-0.48v-10.92h10.92c0.264 0 0.48-0.216 0.48-0.48v-0.24c0-0.264-0.216-0.48-0.48-0.48z">
                                  </path>
                                </svg>
                              </span>
                            </div>
    
                          </td>
                          <td>
                            <span class="product-subtotal">$1,098.00</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mt-2 pt-4 d-flex justify-content-end">
                    <a href="#" class="border py-2 px-4 text-uppercase" style="font-size: 0.85rem;"><i class="bi bi-trash"
                        style="font-size: 0.8em; margin-right: 2px;"></i>Clear shopping cart</a>
                  </div>
                </div>
              </div>
              <div class="total-cart border border-2 border-dark">
                <div class="total-cart-header pb-2">
                  <h6 class="fw-normal text-uppercase">Cart totals</h6>
                </div>
                <div class="cart-subtotal d-flex justify-content-between align-itmes-center mt-4 mb-1 w-100">
                  <span>Subtotal</span>
                  <span class="text-secondary">$111</span>
                </div>
                <div class="cart-total d-flex justify-content-between align-itmes-center mt-4 w-100"
                  style="font-weight: 500">
                  <h5 class="text-dark text-uppercase">Total</h5>
                  <h5 class="text-dark fw-normal">$111</h5>
                </div>
                <div class="procees-btns d-flex flex-column gap-2 text-center mt-3">
                  <a href="#">Proceed to checkout</a>
                  <a href="#">Continue shopping</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="checkout">
              <div class="billing-details">
                <div class="billing-details-header border-bottom py-2">
                  <h6 class="fw-normal text-uppercase">Billing Details</h6>
                </div>
                <form action="#" class="mt-4">
                  <div class="d-flex gap-4 w-100">
                    <div class="form-group w-100">
                      <label for="name">First name *</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group w-100">
                      <label for="name">Last name *</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="name">Company name (optional)</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="exampleFormControlSelect1">Country / Region *</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Canada</option>
                      <option>United Status (US)</option>
                    </select>
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="address">Street address *</label>
                    <input type="text" class="form-control" placeholder="House number and steet name">
                  </div>
                  <div class="form-group w-100 mt-2">
                    <input type="text" class="form-control" placeholder="Apartment, suite, unit, etc. (optional)">
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="address">Town / City *</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="exampleFormControlSelect1">Province *</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Albeta</option>
                      <option>British Columbia</option>
                      <option>Manitoba</option>
                      <option>New Brunswick</option>
                      <option>Newfoundland and Labrador</option>
                    </select>
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="address">Postal code *</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="number">Phone *</label>
                    <input type="number" class="form-control">
                  </div>
                  <div class="form-group w-100 mt-2">
                    <label for="mail">Email address *</label>
                    <input type="mail" class="form-control">
                  </div>
                  <div class="border-bottom mt-3 pb-2">
                    <h6 class="fw-normal text-uppercase">Additional Information</h6>
                  </div>
                  <div class="form-group mt-3">
                    <small class="text-secondary">Order notes (optional)</small>
                    <textarea class="form-control" placeholder="Note about your order,e.g. special notes for delivery."
                      rows="3"></textarea>
                  </div>
                </form>
              </div>
              <div class="customer-order border border-2 border-dark">
                <div class="total-cart-header pb-2">
                  <h6 class="fw-normal text-uppercase">Your order</h6>
                </div>
                <div class="subtotal-product d-flex flex-column mt-4">
                  <p class="m-0">Aquacolor Premium Flirty Blue Zero Po</p>
                  <span><strong class="fw-normal">9</strong> × <span class="text-secondary">$549.00</span></span>
                  <span><strong class="fw-normal">Subtotal</strong> : <span class="text-secondary">$549.00</span></span>
                </div>
                <div class="subtotal d-flex justify-content-between align-itmes-center mt-4 mb-1 w-100 ">
                  <span>Subtotal</span>
                  <span class="text-secondary">$111</span>
                </div>
                <div class="cart-total d-flex justify-content-between align-itmes-center mt-4 w-100"
                  style="font-weight: 500">
                  <h5 class="text-dark text-uppercase">Total</h5>
                  <h5 class="text-dark fw-normal">$111</h5>
                </div>
                <div class="cash-delivery-details mt-4 text-end">
                  <p class="m-0 text-end text-dark">Cash on delivery</p>
                  <small>Pay with cash upon delivery.</small>
                  <p class="text-start mt-3">Your personal data will be used to process your order, support your
                    experience throughout this website, and for other purposes described in our <a
                      href="javascript:void(0)">privacy policy.</a></p>
                </div>
                <div class="procees-btns d-flex w-100 text-center mt-3">
                  <a href="#" class="w-100">Place order</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="order-received">
              <div class="order-recieve-title d-flex flex-column align-items-center gap-2">
                <img width="60px" height="100%" src="./theme/icons/order recieve icon.webp" alt="">
                <h4 class="fw-normal text-uppercase">Thank you. Your order has been received.</h4>
                <ul class="order-overview text-center d-flex flex-column gap-2">
                  <li>Order number:<span class="text-secondary m-1">7389</span></li>
                  <li>Date:<span class="text-secondary m-1">December 31, 2024</span></li>
                  <li>Total:<span class="text-secondary m-1">$4,941.00</span></li>
                  <li>Payment method:<span class="text-secondary m-1">Cash on delivery</span></li>
                </ul>
              </div>
              <div class="pay-with mt-5">
                <i class="bi bi-info-circle"></i>
                <span class="text-white">Pay with cash upon delivery.</span>
              </div>
              <div class="order-summary">
                <h5 class="fw-normal">Order details</h5>
                <table class="order-table">
                  <thead>
                    <tr>
                      <th class="fw-normal text-uppercase">Product</th>
                      <th class="text-end fw-normal text-uppercase">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="item d-flex flex-column">
                          <p class="m-0">Hustlr × <span>1</span></p>
                          <a href="#" class="show-link text-dark text-decoration-underline">Show Prescription</a>
                        </div>
                      </td>
                      <td class="text-end color text-secondary">$200.00</td>
                    </tr>
                  </tbody>
                </table>
                <div class="prescription">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="title">Prescription</p>
                    <button class="close-btn">Close</button>
                  </div>
                  <table class="prescription-table">
                    <thead>
                      <tr>
                        <th>SPH</th>
                        <th>CYL</th>
                        <th>Axis</th>
                        <th>Add</th>
                        <th>PD</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="totals">
                  <table>
                    <tr>
                      <td>Subtotal:</td>
                      <td class="price">$400.00</td>
                    </tr>
                    <tr>
                      <td>Payment method:</td>
                      <td class="price">Cash on delivery</td>
                    </tr>
                    <tr>
                      <td class="text-dark text-uppercase">Total:</td>
                      <td class="text-dark" class="price">$400.00</td>
                    </tr>
                  </table>
                </div>

                <div class="billing-address">
                  <h5 class="fw-normal">Billing address</h5>
                  <p class="text-secondary">
                    <em>
                      any<br>
                      testing text<br>
                      abc state city 12345<br>
                      city AB MSV 3J9<br>
                      1234567890<br>
                      fdhfdnm@gmail.com
                    </em>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </section>