<section class="blog-listing">
  <div class="container small">
    {% for article in blog.articles %}
      {% render 'blog-card', article: article %}
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "blog",
  "settings": []
}
{% endschema %}
